@import "tailwindcss";

/********************************************
              Global Styles
********************************************/

body {
  background-color: hsl(60, 20%, 95%);
  max-width: 1500px;
  margin-inline: auto;
  font-family: "Noto Sans JP", sans-serif;
}

/********************************************
              Tailwind Variables
********************************************/

@theme {
  /* brand colors */
  --color-brand-blue: #004898;
  --color-brand-red: #ea5350;
  --color-brand-green: #6cbb5a;
  /* neutral colors */
  --color-primary-white: #f5f5f0;
  --color-primary-dark: #222222;
  --color-lightest-blue: #6691c1;
  --color-light-red: #f5a9a8;
  --color-light-green: #c4e4bd;
  /* typography */
  --font-sans: "Noto Sans JP", sans-serif;
  --font-serif: "Shippori Mincho", serif;
  /* spacing */
  --spacing-sm: 0.5rem;
  --spacing-reg: 1rem;
  --spacing-lg: 2rem;
}

/********************************************
        Reusable Custom Tailwind Classes
********************************************/
@utility flex-row-between {
  @apply flex flex-row justify-between items-center;
}

@utility flex-row-center {
  @apply flex flex-row justify-center items-center;
}

@utility flex-row-evenly {
  @apply flex flex-row justify-evenly items-center;
}

@utility flex-row-start-center {
  @apply flex flex-row justify-start items-center;
}

@utility flex-row-around {
  @apply flex flex-row justify-around items-center;
}

@utility flex-col-center {
  @apply flex flex-col justify-center items-center;
}
@utility flex-col-start-start {
  @apply flex flex-col justify-start items-start;
}
@utility flex-col-start-center {
  @apply flex flex-col justify-start items-center;
}

@utility hover-animation {
  @apply transition-transform duration-300 hover:cursor-pointer hover:scale-110 hover:opacity-90;
}

@utility hover-shadow {
  @apply hover:shadow-lg hover:tracking-wide hover:cursor-pointer duration-300;
}

@utility background-img-cover {
  @apply h-full bg-cover bg-center flex items-center justify-center bg-no-repeat;
}

@utility red-cta-btn {
  @apply bg-brand-red text-primary-white px-4 py-1 mt-reg rounded-sm;
}

@utility long-copy-text {
  @apply text-primary-dark tracking-wider leading-6;
}

@utility card-heading-text {
  @apply text-primary-dark font-bold text-lg;
}

@utility blue-bg-wrapper {
  @apply bg-brand-blue text-primary-white w-fit px-6 py-1 rounded-sm;
}

/********************************************
        Custom Classes
********************************************/
/* Mobile Side Bar */
.mobile-sidebar {
  @apply fixed inset-0 z-50 bg-brand-blue w-[80%];
}

.mobile-sidebar-copy {
  @apply text-primary-white text-2xl tracking-widest space-y-2;
}

/* Mobile Navbar Header */
.mobile-navbar-header {
  @apply h-20 flex-row-between mt-lg px-reg fixed -top-8 left-0 w-full bg-primary-white z-10 md:hidden;
}

/* Mobile Footer */
.mobile-footer {
  @apply fixed bottom-0 inset-x-0 bg-brand-blue text-primary-white py-sm;
}

/* Desktop Footer */
.desktop-footer {
  @apply bg-brand-blue text-primary-white py-10 font-sans text-sm rounded-sm;
}

/* Mobile Hero Component */
.hero-mobile-slide {
  @apply bg-brand-blue/80 mt-20 rounded-sm mx-reg px-reg h-fit py-15 w-[90%] max-w-[450px] text-start space-y-2;
}

.hero-mobile-slide-heading {
  @apply font-semibold text-3xl sm:text-4xl tracking-widest;
}

/* Desktop Hero Component */
.hero-desktop-slide-heading {
  @apply font-semibold text-4xl xl:text-5xl tracking-widest text-balance leading-14;
}

.hero-desktop-special-text {
  @apply font-semibold text-5xl lg:text-6xl tracking-widest text-balance leading-14;
}

.hero-two-grid {
  @apply grid grid-cols-2 h-full;
}

/* Work Info Component */

.work-info-card-number {
  @apply h-8 w-8 rounded-sm bg-primary-white/85 flex-row-center text-brand-blue font-bold;
}

.work-info-card-subheading {
  @apply text-primary-dark font-bold tracking-widest my-4 text-xl w-full text-center md:text-start;
}
