@import "tailwindcss";

/********************************************
              Global Styles
********************************************/

body {
  background-color: hsl(60, 20%, 95%);
  max-width: 1400px;
  margin-inline: auto;
  font-family: "Noto Sans JP", sans-serif;
}

/********************************************
              Tailwind Variables
********************************************/

@theme {
  /* brand colors */
  --color-brand-blue: #004898;
  --color-brand-red: #ea5350;
  --color-brand-green: #6cbb5a;
  /* neutral colors */
  --color-neutral-light: #f5f5f0;
  --color-neutral-dark: #333333;
  --color-lightest-blue: #6691c1;
  /* typography */
  --font-sans: "Noto Sans JP", sans-serif;
  --font-serif: "Shippori Mincho", serif;
  /* spacing */
  --spacing-sm: 0.5rem;
  --spacing-reg: 1rem;
  --spacing-lg: 2rem;
}

/********************************************
        Reusable Custom Tailwind Classes
********************************************/
@utility flex-row-between {
  @apply flex flex-row justify-between items-center;
}

@utility flex-row-evenly {
  @apply flex flex-row justify-evenly items-center;
}

@utility flex-row-around {
  @apply flex flex-row justify-around items-center;
}

@utility flex-col-center {
  @apply flex flex-col justify-center items-center;
}

@utility flex-col-start-center {
  @apply flex flex-col justify-start items-center;
}

@utility hover-animation {
  @apply transition-transform duration-300 hover:cursor-pointer hover:scale-110 hover:opacity-90;
}

@utility background-img-cover {
  @apply h-full bg-cover bg-center flex items-center justify-center;
}

/********************************************
        Custom Classes
********************************************/
/* Mobile Side Bar */
.mobile-sidebar {
  @apply fixed inset-0 z-50 bg-brand-blue w-[80%];
}

.mobile-sidebar-copy {
  @apply text-neutral-light text-2xl tracking-widest space-y-2;
}

/* Mobile Footer */
.mobile-footer {
  @apply fixed bottom-0 inset-x-0 bg-brand-blue text-neutral-light py-sm;
}

/* Desktop Footer */
.desktop-footer {
  @apply bg-brand-blue text-neutral-light py-10 font-sans text-sm rounded-sm fixed bottom-0 inset-x-4;
}
