@import "tailwindcss";

/********************************************
              Global Styles
********************************************/

body {
  background-color: hsl(60, 20%, 95%);
  max-width: 1500px;
  margin-inline: auto;
  margin-bottom: 50rem;
  font-family: "Noto Sans JP", sans-serif;
}

/********************************************
              Tailwind Variables
********************************************/

@theme {
  /* brand colors */
  --color-brand-blue: #004898;
  --color-brand-red: #ea5350;
  --color-brand-green: #6cbb5a;
  /* neutral colors */
  --color-neutral-light: #f5f5f0;
  --color-neutral-dark: #333333;
  --color-lightest-blue: #6691c1;
  --color-light-red: #f5a9a8;
  --color-light-green: #c4e4bd;
  /* typography */
  --font-sans: "Noto Sans JP", sans-serif;
  --font-serif: "Shippori Mincho", serif;
  /* spacing */
  --spacing-sm: 0.5rem;
  --spacing-reg: 1rem;
  --spacing-lg: 2rem;
}

/********************************************
        Reusable Custom Tailwind Classes
********************************************/
@utility flex-row-between {
  @apply flex flex-row justify-between items-center;
}

@utility flex-row-center {
  @apply flex flex-row justify-center items-center;
}

@utility flex-row-evenly {
  @apply flex flex-row justify-evenly items-center;
}

@utility flex-row-around {
  @apply flex flex-row justify-around items-center;
}

@utility flex-col-center {
  @apply flex flex-col justify-center items-center;
}

@utility flex-col-start-center {
  @apply flex flex-col justify-start items-center;
}

@utility hover-animation {
  @apply transition-transform duration-300 hover:cursor-pointer hover:scale-110 hover:opacity-90;
}

@utility hover-shadow {
  @apply hover:shadow-lg hover:tracking-wide hover:cursor-pointer duration-300;
}

@utility background-img-cover {
  @apply h-full bg-cover bg-center flex items-center justify-center bg-no-repeat;
}

@utility red-cta-btn {
  @apply bg-brand-red text-neutral-light px-4 py-1 mt-reg rounded-sm;
}

@utility long-copy-text {
  @apply text-neutral-dark tracking-wider leading-6;
}

/********************************************
        Custom Classes
********************************************/
/* Mobile Side Bar */
.mobile-sidebar {
  @apply fixed inset-0 z-50 bg-brand-blue w-[80%];
}

.mobile-sidebar-copy {
  @apply text-neutral-light text-2xl tracking-widest space-y-2;
}

/* Mobile Footer */
.mobile-footer {
  @apply fixed bottom-0 inset-x-0 bg-brand-blue text-neutral-light py-sm;
}

/* Desktop Footer */
.desktop-footer {
  @apply bg-brand-blue text-neutral-light py-10 font-sans text-sm rounded-sm fixed bottom-0 inset-x-4;
}

/* Mobile Hero Component */
.hero-mobile-slide {
  @apply bg-brand-blue/80 mt-lg rounded-sm mx-reg px-reg h-fit py-15 w-[90%] max-w-[450px] text-start space-y-2;
}

.hero-mobile-slide-heading {
  @apply font-semibold text-3xl sm:text-4xl tracking-widest;
}

/* Desktop Hero Component */
.hero-desktop-slide-heading {
  @apply font-semibold text-4xl xl:text-5xl tracking-widest text-balance leading-14;
}

.hero-desktop-special-text {
  @apply font-semibold text-5xl lg:text-6xl tracking-widest text-balance leading-14;
}

.hero-two-grid {
  @apply grid grid-cols-2 h-full;
}

/* Work Info Component */
.work-info-card {
  @apply pt-lg  mt-10 h-fit flex flex-col w-[90%] mx-auto rounded-sm shadow-sm;
}

.work-info-card-heading {
  @apply h-10 w-1/4 rounded-sm bg-neutral-light/85 flex-row-center;
}

.work-info-card-subheading {
  @apply text-neutral-dark font-bold tracking-widest my-4 text-2xl w-full text-center md:text-start;
}

/* Layers */
@layer utilities {
  .safe-top {
    padding-top: env(safe-area-inset-top);
  }
}
